<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="items" class="nav-link" routerLinkActive="active">Item List</a>
    </li>
    <li class="nav-item">
        <a routerLink="addItem" class="nav-link" routerLinkActive="active">Add Item</a>
    </li>
  </ul>
</nav>

<div class="container">
  <br>
  <h2 style="text-align: center;">Product Management System</h2>
  <hr>  
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
      <span class="align-middle">All Rights Reserved 2022 @Himash</span>
  </div>
</footer>